@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-track {
  @apply rs-py-8 px-0;
}

.slick-slide > div {
  @apply rs-mx-1;
}

@media (min-width: 992px) {
  .center .slick-slide.slick-active.slick-current {
    @apply z-50 transition-all duration-[400ms] ease-[ease-in-out] scale-[1.5] opacity-100 relative;
    pointer-events: all;
  }

  .center .slick-slide {
    @apply z-0 opacity-70 pointer-events-none;
  }
}

.slick-slider .slick-dots li {
  width: unset;
  height: unset;
}

.slick-slider .slick-dots li button {
  @apply m-4 p-10 bg-black-50 w-20 h-20 rounded-full;
}

.slick-slider .slick-dots li button:focus,
.slick-slider .slick-dots li button:hover {
  @apply bg-black-70;
}

.slick-slider .slick-dots li.slick-active button {
  @apply bg-illuminating;
}


.slick-slider .slick-dots li button:focus,
.slick-slider .slick-dots li.slick-active button:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.slick-slider .slick-dots li.slick-active button:focus,
.slick-slider .slick-dots li.slick-active button:hover {
  @apply bg-illuminating-dark;
}


.slick-slider .slick-dots li button:before {
  content: "";
}
